
*{
    box-sizing: border-box;
}

.encabezado {
    width: 100%;
    color: black; 
}

body {
    margin:0 ;
    background-color: #EDE2D2;
}

.bannermobile img {
    height: 100% ;
    width: 100%;
}
.bannermobile {
    height: 100px;
}

.banner { display: none;
}
.opciones ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(128, 194, 166);
    display: flex;
    justify-content: center;
}

.opciones li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    font-family: Arial;
    padding: 8px 16px;
    background-color: rgb(128, 194, 166);
}
.opciones li a.active {
        background-color: white;
        color: white;
    }   

li a:hover:not(.active) {
    background-color: rgb(128, 194, 166);
    color: white;
  }
  
  .navbar {
    display: none;
    width: 100%;
    background-color:black;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color:  white;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background-color: gray;
    color: rgb(128, 194, 166);
  }
  
  .active {
    background-color: rgb(128, 194, 166);
    color: #EDE2D2; 
  }
   
.topnav {
    overflow: hidden;
    background: black;
    width: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.topnav #myLinks {
    display: none;
  }
  
.topnav a {
    color: white;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    
  }
  
.topnav a:hover {
    background-color: rgb(128, 194, 166);
    color: black;
  }
  
.active {
    background-color: gray;
    color: #EDE2D2;
  }

.container{
    margin: 10px;
    
}
.pelicula, .series {
    min-height: 360px;
    width: 100%;

}
.pelicula img, .series img{
    height: 200px;
    width: 150px;
    
}
  
.pelicula a, .series a {
    color: rgb(60, 77, 77);
    text-decoration: none;
    font-family: Verdana;
    text-align: start;
}

.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 5%; 
    text-decoration:underline rgb(128, 194, 166);
}

.zoom {
    transition: transform .2s;
    width: 200px;
    margin: 0 auto;
  }
  
.zoom:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.1); 
  }

.top-peliculas, .top-kids, .top-series {
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 14px;
    margin-bottom: 2px;
    border:ridge rgb(128, 194, 166) ;
    padding-top: 25px;
}

.container img{
    border: solid 1px black;
}

.footer{
    background-color:black;
    position: ;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
    
}

.footer h4{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: auto;
    text-align: center;
}



@media(min-width:768px){
    .top-peliculas{
        grid-template-columns: repeat(3,1fr);
    }
    .top-kids{
        grid-template-columns: repeat(3,1fr);
    }
    .top-series {
            grid-template-columns: repeat(3,1fr);
    }
    
    .bannermobile {display: none;}

    .banner {display: block;
        height: 160px;}

    .banner img {
        height: 100% ;
        width: 100%;
    }
    .pelicula img, .series img{
        height: 320px;
        width: 221px;
        
    }
    
    .topnav { 
        display: none;
    }

    .navbar {
        display: block;
    }
    
}

@media(min-width:1080px){
    .top-peliculas{
        grid-template-columns: repeat(4,1fr);
    }
    .top-kids{
        grid-template-columns: repeat(4,1fr);
    }
    .top-series {
            grid-template-columns: repeat(4,1fr);
    }
    
    .bannermobile {display: none;}

    .topnav { 
        display: none;
    }

    .banner {display: block;
        height: 210px;}

    .banner img {
        height: 100% ;
        width: 100%;
    }
    
    .pelicula img, .series img{
        height: 340px;
        width: 230px;
    }

    .pelicula, .series {
        padding-bottom: 15px;
    }
    .navbar {
        display: block;
    }
    
}




