
*{
    box-sizing: border-box;
}

.encabezado {
    width: 100%;
    color: black; 
}

body {
    margin:0 ;
    background-color: #EDE2D2;
    font-family: Arial, Helvetica, sans-serif;
}

.bannermobile img {
    height: 100% ;
    width: 100%;
}
.bannermobile {
    height: 100px;
}

.banner { display: none;
}
.opciones ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
    display: flex;
    justify-content: center;
}


.opciones li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    font-family: Arial;
    padding: 8px 16px;
    background-color: orange;
}
.opciones li a.active {
        background-color: orange;
        color: white;
    }   

li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
.navbar {
    display: none;
    width: 100%;
    background-color:black;
    overflow: auto;
  }
  
   
.topnav {
    overflow: hidden;
    background: black;
    width: 100%;
    position: relative;
  }
  
.topnav #myLinks {
    display: none;
  }
  
.topnav a {
    color: white;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    
  }
  
.topnav a:hover {
    background-color: gray;
    color: orange;
  }
  
.active {
    background-color: gray;
    color: white;
  }

.container{
    margin: 10px;
    
}
.container h2 {
    padding: 40px 0px;
}

.pelicula, .series {
    min-height: 360px;
    width: 100%;

}
.pelicula img, .series img{
    height: 210px;
    width: 1px;
    
}
  
.pelicula a, .series a {
    color: black;
    text-decoration: none;
    font-family: Arial;
}


.titulo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5%; 
    text-decoration:underline orange
}

.zoom {
    transition: transform .2s;
    width: 200px;
    margin: 0 auto;
  }
  
.zoom:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.1); 
  }


.top-peliculas {
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

.top-series {
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.top-kids {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.container img{
    border: solid 1px black;
}

.footer{
    background-color:black;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: top 10px;
    
}

.footer h4{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: auto;
    text-align: center;
}



@media(min-width:768px){
    .top-peliculas{
        grid-template-columns: repeat(3,1fr);
    }
    .top-kids{
        grid-template-columns: repeat(3,1fr);
    }
    .top-series {
            grid-template-columns: repeat(3,1fr);
    }
    
    .bannermobile {display: none;}

    .banner {display: block;
        height: 160px;}

    .banner img {
        height: 100% ;
        width: 100%;
    }
    .pelicula img, .series img{
        height: 320px;
        width: 221px;
        
    }
    .topnav { 
        display: none;
    }

    .navbar {
        display: block;
    }
    .navbar a {
        float: left;
        padding: 12px;
        color:  rgb(214, 211, 211);
        text-decoration: none;
        font-size: 17px;
      }
      .navbar a:hover {
        background-color: gray;
        color: orange;
      }
      
      .active {
        background-color: orange;
        color: rgb(214, 211, 211); 
      }
}

@media(min-width:1080px){
    .top-peliculas{
        grid-template-columns: repeat(4,1fr);
    }
    .top-kids{
        grid-template-columns: repeat(4,1fr);
    }
    .top-series {
            grid-template-columns: repeat(4,1fr);
    }
    
    .bannermobile {display: none;}

    .topnav { 
        display: none;
    }

    .banner {display: block;
        height: 210px;}

    .banner img {
        height: 100% ;
        width: 100%;
    }
    
    .pelicula img, .series img{
        height: 360px;
        width: 220px;
        
    }
    .navbar {
        display: block;
    }
    .navbar a {
        float: left;
        padding: 12px;
        color:  rgb(214, 211, 211);
        text-decoration: none;
        font-size: 17px;
      }
      .navbar a:hover {
        background-color: gray;
        color: orange;
      }
      
      .active {
        background-color: orange;
        color: rgb(214, 211, 211); 
      }
}




