
*{
    box-sizing: border-box;
}

.encabezado {
    width: 100%;
    color: black; 
}

body {
    margin:0 ;
    background-color: #EDE2D2;
}

.bannermobile img {
    height: 100% ;
    width: 100%;
}
.bannermobile {
    height: 100px;
}

.banner { display: none;
}
  .opciones ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(128, 194, 166);
    display: flex;
    justify-content: center;
}

.opciones li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    font-family: Arial;
    padding: 8px 16px;
    background-color: rgb(128, 194, 166);
}
.opciones li a.active {
        background-color: white;
        color: white;
    }   

li a:hover:not(.active) {
    background-color: rgb(128, 194, 166);
    color: white;
  }
.navbar {
    display: none;
    width: 100%;
    background-color:black;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color:  white;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background-color: gray;
    color: rgb(128, 194, 166);
  }
  
  .active {
    background-color: rgb(128, 194, 166);
    color: #EDE2D2; 
  }
   
.topnav {
    overflow: hidden;
    background: black;
    width: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.topnav #myLinks {
    display: none;
  }
  
.topnav a {
    color: white;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    
  }
  
.topnav a:hover {
    background-color: rgb(128, 194, 166);
    color: black;
  }
  
.active {
    background-color: gray;
    color: #EDE2D2;
  }

.generos{
        min-height: 360px;
        width: 100%;

}

  .generos ul{
    list-style-type: none;
    margin: 10px;
    padding:0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 100px;
    border: ridge rgb(128, 194, 166);
    padding-bottom: 20px;
    background-color: black
  }

  .generos a {
    text-decoration:none;
    color: rgb(60, 77, 77);
  }
  .generos h2 {
    font-family: Verdana;
    text-align: center;
    padding: 2%; 
    text-decoration:underline dotted;
}
.generos li{
   text-align: center;
   font-family: Verdana ;
   text-decoration:none;
}


.generos img{
    height: 200px;
    width: 300px;
    border: solid black;
}


.footer{
  background-color:black;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  color: #EDE2D2;
  padding: 20px;
  font-family: Arial;
}

.footer ul {
  list-style-type: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
}

.footer .nombre {
  text-align: justify;
  padding: 20px;
}

@media(min-width:420px){
  
  .footer ul{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
}


@media(min-width:768px){
    
    .bannermobile {display: none;}

    .banner {display: block;
        height: 160px;}

    .banner img {
        height: 100% ;
        width: 100%;
    }
    
    .topnav { 
        display: none;
    }

    .navbar {
        display: block;
    }
    
      .generos ul {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .footer ul{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
  }
}

@media(min-width:1080px){
    
    .bannermobile {display: none;}

    .topnav { 
        display: none;
    }

    .banner {display: block;
        height: 210px;}

    .banner img {
        height: 100% ;
        width: 100%;
    }

    .navbar {
        display: block;
    }
    
      .generos ul {
        display: grid;
        grid-template-columns: repeat(3,1fr);   
    }
    .footer ul{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
  }
}