.container{
    margin: 20px;
}

*{
    box-sizing: border-box;
}

.encabezado {
    background-color: rgb(2, 2, 2) ;
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: auto;
    gap: 30px;
    padding: 10px;
    color: ivory; 
}

.favorito {
    size: 10%;
}

body {
    margin:0px;
    background-color: white;
}

.opciones ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
  
}

.opciones li {
    display: inline;
    float: none;
}

.opciones li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    font-family: Arial;
    padding: 8px 16px;
    background-color: orange;
}
.opciones li a.active {
        background-color: orange;
        color: white;
    }   

li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
.generos h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2%; 
    text-decoration:underline orange
}
.generos li{
   text-align: justify;
   font-family: arial ;
   padding: 3px;
   

}
.footer{
    background-color:black;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer h4{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: auto;
    text-align: center;
}

@media(min-width:1080px){
    .bannermobile {display: none;}
    .opciones li {   
        display: inline;
        float: left;
    }
    .generos ul {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    
}

@media(min-width:768px){
    .bannermobile {display: none;}
    .opciones li {
        display: inline;
        float: left;
    }
    .generos ul {
        display: grid;
        grid-template-columns: repeat(3,1fr);   
    }
}


@media(max-width:768px){
    .banner {
    display: none;
    }
}
